{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "extends": "eslint:recommended",
    "env": {
      "browser": true,
      "jquery": true,
      "node": true,
      "jasmine": true
    },
    "rules": {
        "semi": 1,
        "indent": ["warn", 2],
        "no-console": "warn",
        "no-debugger": "warn",
        "no-unused-vars": "warn"
    }
}
